### [ -f ~/.aliases ] && source ~/.aliases
### General
alias l="ls -lha"
alias vi="vim"
### Net
alias rpi="ssh -p 969 pi@192.168.1.15"
### Docker
alias dc='docker-compose'
alias dcup='docker-compose down && docker-compose up --build -d'
alias dl='docker-compose logs -f --tail 50'
alias d='docker'
alias au='sudo apt update && sudo apt upgrade -y && sudo apt autoremove'
### Kubernetes
alias kl='kubectl logs --tail=300 -f'
[ -f ~/.tkn ] && source ~/.tkn
### Golang
alias goo='go run .'
